<div class="modificar__container">
    <form class="modificar__form" method="post" action="/admin/novedades/modificar" enctype="multipart/form-data">
        <h4 class="modificar__h4">Modificar la novedad</h4>
        <input type="hidden" name="id" value="{{novedad.id}}">
        <div class="modificar__input">
            <label for="">Titulo</label>
            <input type="text" name="titulo" value="{{novedad.titulo}}" class="modificar__input2">
        </div>
        <div class="modificar__input">
            <label for="">Subtitulo</label>
            <input type="text" name="subtitulo" value="{{novedad.subtitulo}}" class="modificar__input2">
        </div>
        <div class="modificar__input">
            <label for="">Cuerpo</label>
            <textarea name="cuerpo" class="modificar__input2">{{novedad.cuerpo}}</textarea>
        </div>
        <div class="modificar__input">
            <label>Imagen</label>
            <input type="file" name="imagen" id="imagen">
            <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual?</label>
            <input type="hidden" name="img_original" value="{{novedad.img_id}}">
        </div>
        <button type="submit" class="modificar__button">Modificar</button>
        {{#if error}}
            <p class="parrafo parrafo2">{{message}}</p>
        {{/if}}
    </form>
</div>